PORT=4001
DATABASE_URL=postgresql://postgres:password@localhost:5434/finance_tracker
DATABASE_SSL=false
AUTH0_DOMAIN=dev-yoag06mta5zqt28n.us.auth0.com
AUTH0_AUDIENCE=https://finance-tracker-api
FRONTEND_URL=https://mykashboard.vercel.app
